<!doctype html>
<html lang="en">
        <head>
        <title>Scoreboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            icon-shape {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                vertical-align: middle;
                font-weight: bolder;
            }
            .container-fluid {
            margin-right: auto;
            margin-left: auto;
            max-width: 950px
            }

            .input-lg {
            font-size: 20px;
            }

        </style>
        <link href="./static/bootstrap.min.css" rel="stylesheet">

    </head>
    <body>
        <div class="container-fluid text-center container-limit">
            
            <div class="alert-box alert alert-danger align-items-center mt-3 d-none"></div>
            <div class="row mt-2">

                              <div class="col">
                            <div class="input-group justify-content-center">
                                <input type="button" value="-" class="button-minus border rounded-circle icon-shape icon-sm btn-clickable" data-field="inning">
                                <input type="text" step="1" max="9" value="1" name="inning" class="border-0 text-center w-25 input-lg" readonly>
                                <input type="button" value="+" class="button-plus border rounded-circle icon-shape icon-sm btn-clickable" data-field="inning">
                             </div>
                             <p>Inning</p>
                    </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="input-group justify-content-center">
                    <input type="button" value="-" class="button-minus border rounded-circle icon-shape icon-sm btn-clickable" data-field="home">
                    <input type="text" step="1" max="99" value="0" name="home" class="border-0 text-center w-25 input-lg" readonly>
                    <input type="button" value="+" class="button-plus border rounded-circle icon-shape icon-sm btn-clickable" data-field="home">
                 </div>
                <p>Home</p>
              </div>

              <div class="col">
                <div class="input-group justify-content-center">
                    <input type="button" value="-" class="button-minus border rounded-circle icon-shape icon-sm btn-clickable" data-field="away">
                    <input type="text" step="1" max="99" value="0" name="away" class="border-0 text-center w-25 input-lg" readonly>
                    <input type="button" value="+" class="button-plus border rounded-circle icon-shape icon-sm btn-clickable" data-field="away">
                 </div>
                <p>Away</p>
              </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="#"><span class="reset-count badge bg-secondary">Reset</span></a>
                    <div class="input-group justify-content-center">
                        <input type="button" value="-" class="button-minus border rounded-circle icon-shape icon-sm btn-clickable" data-field="outs">
                        <input type="text" step="1" max="2" value="0" name="outs" class="border-0 text-center w-25 input-lg" readonly>
                        <input type="button" value="+" class="button-plus border rounded-circle icon-shape icon-sm btn-clickable" data-field="outs">
                     </div>
                    <div>Outs</div>
                </div>
                <div class="col">
                    <a href="#"><span class="reset-count badge bg-secondary">Reset</span></a>
                    <div class="input-group justify-content-center">
                        <input type="button" value="-" class="button-minus border rounded-circle icon-shape icon-sm btn-clickable" data-field="strikes">
                        <input type="text" step="1" max="2" value="0" name="strikes" class="border-0 text-center w-25 input-lg" readonly>
                        <input type="button" value="+" class="button-plus border rounded-circle icon-shape icon-sm btn-clickable" data-field="strikes">
                     </div>
                    <div>Strikes</div>
                </div>
                </div>
                <div class="row">
                <div class="col">
                    <a href="#"><span class="reset-count badge bg-secondary">Reset</span></a>
                    <div class="input-group justify-content-center">
                        <input type="button" value="-" class="button-minus border rounded-circle icon-shape icon-sm btn-clickable" data-field="balls">
                        <input type="text" step="1" max="3" value="0" name="balls" class="border-0 text-center w-25 input-lg" readonly>
                        <input type="button" value="+" class="button-plus border rounded-circle icon-shape icon-sm btn-clickable" data-field="balls">
                     </div>
                    <div>Balls</div>
                    <a href="#"><span class="reset-full-count badge bg-info">Reset Count</span></a>
                  </div>
              </div>
              <div class="row mt-4">
                <div class="col">
                    <button type="button" class="btn btn-sm btn-secondary btn-sync btn-clickable">Sync</button>
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-danger btn-reset btn-clickable" >Reset</button>
                </div>
              </div>

          </div>

        <script src="./static/jquery-3.7.1.min.js"></script>
        <script src="./static/bootstrap.bundle.min.js"></script>
        <script language="Javascript">
            $(function() {
                $(".alert-box").hide();
                $(".alert-box").removeClass("d-none");

                function retrieveBoard() {
                    console.log("Loading Current Data")
                    $.ajax
                        ({
                            type: "GET",
                            url: '/board',
                            success: function (response) {
                                console.log("Loaded: ")
                                console.log(response)
                                $('input[name=inning]').val(response["inning"]);
                                $('input[name=home]').val(response["home"]);
                                $('input[name=away]').val(response["away"]);
                                $('input[name=strikes]').val(response["strikes"]);
                                $('input[name=outs]').val(response["outs"]);
                                $('input[name=balls]').val(response["balls"]); 
                            },
                            error: function (response) {
                                console.log("FAILED TO RETRIEVE DATA");
                                $(".alert-box").text("Unable to retrieve Scoreboard Data");
                                $(".alert-box").fadeTo(2000, 500).slideUp(500, function() {
                                  $(".alert-box").slideUp(500);
                                });
                                return;
                            }
                        })
                }
                retrieveBoard();


                function incrementValue(e) {
                            e.preventDefault();
                            console.log("increment");
                            var fieldName = $(e.target).data('field');
                            var parent = $(e.target).closest('div');
                            var currentVal = parseInt(parent.find('input[name=' + fieldName + ']').val(), 10);
                            var maxVal = parseInt(parent.find('input[name=' + fieldName + ']').attr("max"), 10);

                            if(currentVal == maxVal)
                            {
                                return
                            }

                            if (!isNaN(currentVal)) {
                                parent.find('input[name=' + fieldName + ']').val(currentVal + 1);
                            } else {
                                parent.find('input[name=' + fieldName + ']').val(0);
                            }
                            
                            if(fieldName == 'inning') {
                                $('input[name=strikes]').val(0);
                                $('input[name=outs]').val(0);
                                $('input[name=balls]').val(0);
                            }
                            
                            syncBoard()
                        }

                        function decrementValue(e) {
                            e.preventDefault();
                            console.log("decrement");
                            var fieldName = $(e.target).data('field');
                            var parent = $(e.target).closest('div');
                            var currentVal = parseInt(parent.find('input[name=' + fieldName + ']').val(), 10);

                            if (!isNaN(currentVal) && currentVal > 0) {
                                parent.find('input[name=' + fieldName + ']').val(currentVal - 1);
                            } else {
                                parent.find('input[name=' + fieldName + ']').val(0);
                            }
                            
                            if(fieldName == 'inning') {
                                $('input[name=strikes]').val(0);
                                $('input[name=outs]').val(0);
                                $('input[name=balls]').val(0);
                            }
                            
                            syncBoard()
                        }

                        function resetValue(e) {
                            e.preventDefault();
                            console.log("reset")
                            var parent = $(e.target).closest('div');
                            parent.find('input[type=text]').val(0);
                            syncBoard()
                        }

                        function resetAll() {
                            console.log("Reset All")
                            $('input[name=inning]').val(1);
                            $('input[name=home]').val(0);
                            $('input[name=away]').val(0);
                            $('input[name=strikes]').val(0);
                            $('input[name=outs]').val(0);
                            $('input[name=balls]').val(0);
                            syncBoard()
                        }

                        function resetCount() {
                            console.log("Reset Count")
                            $('input[name=strikes]').val(0);
                            $('input[name=outs]').val(0);
                            $('input[name=balls]').val(0);
                            syncBoard()
                        }
                        
                        function disableClick()
                        {
                            $('.btn-clickable').css('pointer-events','none');
                            setTimeout(() => {
                              $('.btn-clickable').css('pointer-events','auto');
                            }, "600");
                        }

                        function syncBoard() {
                            console.log("Syncing")
                            board_data = { "inning" : $('input[name=inning]').val(),
                                            "home" : $('input[name=home]').val(),
                                            "away" :  $('input[name=away]').val(),
                                            "strikes" : $('input[name=strikes]').val(),
                                            "outs" : $('input[name=outs]').val(),
                                            "balls" : $('input[name=balls]').val()
                                            }
                            $.ajax
                                    ({
                                        type: "POST",
                                        url: '/board',
                                        contentType : 'application/json',
                                        data: JSON.stringify(board_data),
                                        success: function (response) {
                                            console.log(response)
                                            if(response["success"] != true) {
                                                console.log("Update Failed")
                                                $(".alert-box").text("Unable to Update Data: "+response["message"]);
                                                $(".alert-box").fadeTo(2000, 500).slideUp(500, function() {
                                                  $(".alert-box").slideUp(500);
                                                });
                                            }
                                            else {
                                                console.log("Update Succeeeded!")
                                            }
                                        },
                                        error: function (response) {
                                            console.log("Unable to Update Board Data")
                                            console.log(response)
                                             $(".alert-box").text("Unable to Update Data");
                                                $(".alert-box").fadeTo(2000, 500).slideUp(500, function() {
                                                  $(".alert-box").slideUp(500);
                                                });
                                            return;
                                        }
                                    })

                            
                        }

                        $('.input-group').on('click', '.button-plus', function(e) {
                            disableClick();
                            incrementValue(e);
                        });

                        $('.input-group').on('click', '.button-minus', function(e) {
                            disableClick();
                            decrementValue(e);
                        });

                        $('.reset-count').on('click', function(e) {
                            disableClick();
                            resetValue(e);
                        });

                        $('.reset-full-count').on('click', function(e) {
                            disableClick();
                            resetCount()
                        });

                        $('.btn-reset').on('click', function(e) {
                            disableClick();
                            resetAll()
                        });

                        $('.btn-sync').on('click', function(e) {
                            disableClick();
                            syncBoard()
                        });
            });

        </script>
    </body>

</html>